/*内容代码*/

#arrow-left img{
    height: 22px;
}
#arrow-left {
	float: left;
    width: 10%;
    text-align: center;
    padding-top: 14px;
}

#magnifier-txt{
	width: 80%;
}
.am-list-news-hd .am-list-news-more {
    height: 2rem;
    line-height: 2rem;
    color: #333333;
    font-size: 16px;
}
.am-fr {
    float: right;
}
.am-u-sm-4{
	float: right;
	width: 20%;
	position: relative;
}

.am-u-sm-4 img {
    width: 60px;
    height: 60px;
    display: block;
}
.am-list-item-hd{
	margin-bottom: 10px;
}
.am-list-item-hd a{
	color: #333333;
}
.am-list-item-desced{
	background: #FFFFFF;
	border-bottom: 1px solid #e5e5e5;
	padding-top: 7px;
	
}
.am-list-item-desceds{
	background: #FFFFFF;
	padding-top: 7px;
	border-bottom: 1px solid #e5e5e5;
	
}
.am-list-item-descedss{
	background: #FFFFFF;
	padding-top: 7px;
	border-bottom: 1px solid #e5e5e5;
	margin-top: 20px;
}
.am-all{
	margin: 2px 10px 6px 10px;
}
.am-list-item-text{
	color: #666;
	line-height: 60px;
    font-size: 16px;
}
.am-list-item-text span{
	color: #333;
}
#last-desceds{
	border: none;
	margin-top: 20px;
}
#magnifier {
    width: 100%;
}
.am-list-main{
	float: left;
	width: 20%;
	min-height: 49px;
}
.am-list-news-txt{
	color: #888888;
}